/*=============================================
=            SETTINGS            =
=============================================*/
/*=============================================
=            TOOLS            =
=============================================*/
/*=============================================
=            GENERIC            =
=============================================*/
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*=============================================
=            ELEMENTS            =
=============================================*/
html {
  font-size: 100%;
  font-family: Helvetica,  Arial, sans-serif;
  line-height: 1.618; }

body {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

/*=============================================
=            OBJECTS            =
=============================================*/
.o-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: .809rem;
  padding-right: .809rem;
  overflow-x: hidden; }

.o-wrapper--collapse {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden; }

.o-layout {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -1.618rem; }

.o-layout--collapse {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none; }

.o-layout::after {
  content: '';
  display: table;
  clear: both; }

.o-layout__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: block;
  float: left;
  padding-left: 1.618rem; }

.o-layout__item--collapse {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: block;
  float: left; }

/*=============================================
=            COMPONENTS            =
=============================================*/
.c-box {
  background: gray;
  color: white;
  padding: .809rem; }

/*=============================================
=            UTILITIES            =
=============================================*/
/*----------  variables  ----------*/
/*----------  1 Columnas  ----------*/
.u-1\/1 {
  width: 100%; }

/*----------  2 Columnas  ----------*/
.u-1\/2 {
  width: 50%; }

.u-2\/2 {
  width: 100%; }

/*----------  3 Columnas  ----------*/
.u-1\/3 {
  width: 33.33333%; }

.u-2\/3 {
  width: 66.66667%; }

.u-3\/3 {
  width: 100%; }

/*----------  4 Columnas  ----------*/
.u-1\/4 {
  width: 25%; }

.u-2\/4 {
  width: 50%; }

.u-3\/4 {
  width: 75%; }

.u-4\/4 {
  width: 100%; }

/*----------  5 Columnas  ----------*/
.u-1\/5 {
  width: 20%; }

.u-2\/5 {
  width: 40%; }

.u-3\/5 {
  width: 60%; }

.u-4\/5 {
  width: 80%; }

.u-5\/5 {
  width: 100%; }

/*----------  6 Columnas  ----------*/
.u-1\/6 {
  width: 16.66667%; }

.u-2\/6 {
  width: 33.33333%; }

.u-3\/6 {
  width: 50%; }

.u-4\/6 {
  width: 66.66667%; }

.u-5\/6 {
  width: 83.33333%; }

.u-6\/6 {
  width: 100%; }

/*----------  7 Columnas  ----------*/
.u-1\/7 {
  width: 14.28571%; }

.u-2\/7 {
  width: 28.57143%; }

.u-3\/7 {
  width: 42.85714%; }

.u-4\/7 {
  width: 57.14286%; }

.u-5\/7 {
  width: 71.42857%; }

.u-6\/7 {
  width: 85.71429%; }

.u-7\/7 {
  width: 100%; }

/*----------  8 Columnas  ----------*/
.u-1\/8 {
  width: 12.5%; }

.u-2\/8 {
  width: 25%; }

.u-3\/8 {
  width: 37.5%; }

.u-4\/8 {
  width: 50%; }

.u-5\/8 {
  width: 62.5%; }

.u-6\/8 {
  width: 75%; }

.u-7\/8 {
  width: 87.5%; }

.u-8\/8 {
  width: 100%; }

/*----------  9 Columnas  ----------*/
.u-1\/9 {
  width: 11.11111%; }

.u-2\/9 {
  width: 22.22222%; }

.u-3\/9 {
  width: 33.33333%; }

.u-4\/9 {
  width: 44.44444%; }

.u-5\/9 {
  width: 55.55556%; }

.u-6\/9 {
  width: 66.66667%; }

.u-7\/9 {
  width: 77.77778%; }

.u-8\/9 {
  width: 88.88889%; }

.u-9\/9 {
  width: 100%; }

/*----------  10 Columnas  ----------*/
.u-1\/10 {
  width: 10%; }

.u-2\/10 {
  width: 20%; }

.u-3\/10 {
  width: 30%; }

.u-4\/10 {
  width: 40%; }

.u-5\/10 {
  width: 50%; }

.u-6\/10 {
  width: 60%; }

.u-7\/10 {
  width: 70%; }

.u-8\/10 {
  width: 80%; }

.u-9\/10 {
  width: 90%; }

.u-10\/10 {
  width: 100%; }

/*----------  11 Columnas  ----------*/
.u-1\/11 {
  width: 9.09091%; }

.u-2\/11 {
  width: 18.18182%; }

.u-3\/11 {
  width: 27.27273%; }

.u-4\/11 {
  width: 36.36364%; }

.u-5\/11 {
  width: 45.45455%; }

.u-6\/11 {
  width: 54.54545%; }

.u-7\/11 {
  width: 63.63636%; }

.u-8\/11 {
  width: 72.72727%; }

.u-9\/11 {
  width: 81.81818%; }

.u-10\/11 {
  width: 90.90909%; }

.u-11\/11 {
  width: 100%; }

/*----------  12 Columnas  ----------*/
.u-1\/12 {
  width: 8.33333%; }

.u-2\/12 {
  width: 16.66667%; }

.u-3\/12 {
  width: 25%; }

.u-4\/12 {
  width: 33.33333%; }

.u-5\/12 {
  width: 41.66667%; }

.u-6\/12 {
  width: 50%; }

.u-7\/12 {
  width: 58.33333%; }

.u-8\/12 {
  width: 66.66667%; }

.u-9\/12 {
  width: 75%; }

.u-10\/12 {
  width: 83.33333%; }

.u-11\/12 {
  width: 91.66667%; }

.u-12\/12 {
  width: 100%; }

/*----------  sm 576px ----------*/
@media screen and (min-width: 576px) {
  /*----------  1 Columnas  ----------*/
  .u-1\/1\@sm {
    width: 100%; }
  /*----------  2 Columnas  ----------*/
  .u-1\/2\@sm {
    width: 50%; }
  .u-2\/2\@sm {
    width: 100%; }
  /*----------  3 Columnas  ----------*/
  .u-1\/3\@sm {
    width: 33.33333%; }
  .u-2\/3\@sm {
    width: 66.66667%; }
  .u-3\/3\@sm {
    width: 100%; }
  /*----------  4 Columnas  ----------*/
  .u-1\/4\@sm {
    width: 25%; }
  .u-2\/4\@sm {
    width: 50%; }
  .u-3\/4\@sm {
    width: 75%; }
  .u-4\/4\@sm {
    width: 100%; }
  /*----------  5 Columnas  ----------*/
  .u-1\/5\@sm {
    width: 20%; }
  .u-2\/5\@sm {
    width: 40%; }
  .u-3\/5\@sm {
    width: 60%; }
  .u-4\/5\@sm {
    width: 80%; }
  .u-5\/5\@sm {
    width: 100%; }
  /*----------  6 Columnas  ----------*/
  .u-1\/6\@sm {
    width: 16.66667%; }
  .u-2\/6\@sm {
    width: 33.33333%; }
  .u-3\/6\@sm {
    width: 50%; }
  .u-4\/6\@sm {
    width: 66.66667%; }
  .u-5\/6\@sm {
    width: 83.33333%; }
  .u-6\/6\@sm {
    width: 100%; }
  /*----------  7 Columnas  ----------*/
  .u-1\/7\@sm {
    width: 14.28571%; }
  .u-2\/7\@sm {
    width: 28.57143%; }
  .u-3\/7\@sm {
    width: 42.85714%; }
  .u-4\/7\@sm {
    width: 57.14286%; }
  .u-5\/7\@sm {
    width: 71.42857%; }
  .u-6\/7\@sm {
    width: 85.71429%; }
  .u-7\/7\@sm {
    width: 100%; }
  /*----------  8 Columnas  ----------*/
  .u-1\/8\@sm {
    width: 12.5%; }
  .u-2\/8\@sm {
    width: 25%; }
  .u-3\/8\@sm {
    width: 37.5%; }
  .u-4\/8\@sm {
    width: 50%; }
  .u-5\/8\@sm {
    width: 62.5%; }
  .u-6\/8\@sm {
    width: 75%; }
  .u-7\/8\@sm {
    width: 87.5%; }
  .u-8\/8\@sm {
    width: 100%; }
  /*----------  9 Columnas  ----------*/
  .u-1\/9\@sm {
    width: 11.11111%; }
  .u-2\/9\@sm {
    width: 22.22222%; }
  .u-3\/9\@sm {
    width: 33.33333%; }
  .u-4\/9\@sm {
    width: 44.44444%; }
  .u-5\/9\@sm {
    width: 55.55556%; }
  .u-6\/9\@sm {
    width: 66.66667%; }
  .u-7\/9\@sm {
    width: 77.77778%; }
  .u-8\/9\@sm {
    width: 88.88889%; }
  .u-9\/9\@sm {
    width: 100%; }
  /*----------  10 Columnas  ----------*/
  .u-1\/10\@sm {
    width: 10%; }
  .u-2\/10\@sm {
    width: 20%; }
  .u-3\/10\@sm {
    width: 30%; }
  .u-4\/10\@sm {
    width: 40%; }
  .u-5\/10\@sm {
    width: 50%; }
  .u-6\/10\@sm {
    width: 60%; }
  .u-7\/10\@sm {
    width: 70%; }
  .u-8\/10\@sm {
    width: 80%; }
  .u-9\/10\@sm {
    width: 90%; }
  .u-10\/10\@sm {
    width: 100%; }
  /*----------  11 Columnas  ----------*/
  .u-1\/11\@sm {
    width: 9.09091%; }
  .u-2\/11\@sm {
    width: 18.18182%; }
  .u-3\/11\@sm {
    width: 27.27273%; }
  .u-4\/11\@sm {
    width: 36.36364%; }
  .u-5\/11\@sm {
    width: 45.45455%; }
  .u-6\/11\@sm {
    width: 54.54545%; }
  .u-7\/11\@sm {
    width: 63.63636%; }
  .u-8\/11\@sm {
    width: 72.72727%; }
  .u-9\/11\@sm {
    width: 81.81818%; }
  .u-10\/11\@sm {
    width: 90.90909%; }
  .u-11\/11\@sm {
    width: 100%; }
  /*----------  12 Columnas  ----------*/
  .u-1\/12\@sm {
    width: 8.33333%; }
  .u-2\/12\@sm {
    width: 16.66667%; }
  .u-3\/12\@sm {
    width: 25%; }
  .u-4\/12\@sm {
    width: 33.33333%; }
  .u-5\/12\@sm {
    width: 41.66667%; }
  .u-6\/12\@sm {
    width: 50%; }
  .u-7\/12\@sm {
    width: 58.33333%; }
  .u-8\/12\@sm {
    width: 66.66667%; }
  .u-9\/12\@sm {
    width: 75%; }
  .u-10\/12\@sm {
    width: 83.33333%; }
  .u-11\/12\@sm {
    width: 91.66667%; }
  .u-12\/12\@sm {
    width: 100%; } }

/*----------  md 768px ----------*/
@media screen and (min-width: 768px) {
  /*----------  1 Columnas  ----------*/
  .u-1\/1\@md {
    width: 100%; }
  /*----------  2 Columnas  ----------*/
  .u-1\/2\@md {
    width: 50%; }
  .u-2\/2\@md {
    width: 100%; }
  /*----------  3 Columnas  ----------*/
  .u-1\/3\@md {
    width: 33.33333%; }
  .u-2\/3\@md {
    width: 66.66667%; }
  .u-3\/3\@md {
    width: 100%; }
  /*----------  4 Columnas  ----------*/
  .u-1\/4\@md {
    width: 25%; }
  .u-2\/4\@md {
    width: 50%; }
  .u-3\/4\@md {
    width: 75%; }
  .u-4\/4\@md {
    width: 100%; }
  /*----------  5 Columnas  ----------*/
  .u-1\/5\@md {
    width: 20%; }
  .u-2\/5\@md {
    width: 40%; }
  .u-3\/5\@md {
    width: 60%; }
  .u-4\/5\@md {
    width: 80%; }
  .u-5\/5\@md {
    width: 100%; }
  /*----------  6 Columnas  ----------*/
  .u-1\/6\@md {
    width: 16.66667%; }
  .u-2\/6\@md {
    width: 33.33333%; }
  .u-3\/6\@md {
    width: 50%; }
  .u-4\/6\@md {
    width: 66.66667%; }
  .u-5\/6\@md {
    width: 83.33333%; }
  .u-6\/6\@md {
    width: 100%; }
  /*----------  7 Columnas  ----------*/
  .u-1\/7\@md {
    width: 14.28571%; }
  .u-2\/7\@md {
    width: 28.57143%; }
  .u-3\/7\@md {
    width: 42.85714%; }
  .u-4\/7\@md {
    width: 57.14286%; }
  .u-5\/7\@md {
    width: 71.42857%; }
  .u-6\/7\@md {
    width: 85.71429%; }
  .u-7\/7\@md {
    width: 100%; }
  /*----------  8 Columnas  ----------*/
  .u-1\/8\@md {
    width: 12.5%; }
  .u-2\/8\@md {
    width: 25%; }
  .u-3\/8\@md {
    width: 37.5%; }
  .u-4\/8\@md {
    width: 50%; }
  .u-5\/8\@md {
    width: 62.5%; }
  .u-6\/8\@md {
    width: 75%; }
  .u-7\/8\@md {
    width: 87.5%; }
  .u-8\/8\@md {
    width: 100%; }
  /*----------  9 Columnas  ----------*/
  .u-1\/9\@md {
    width: 11.11111%; }
  .u-2\/9\@md {
    width: 22.22222%; }
  .u-3\/9\@md {
    width: 33.33333%; }
  .u-4\/9\@md {
    width: 44.44444%; }
  .u-5\/9\@md {
    width: 55.55556%; }
  .u-6\/9\@md {
    width: 66.66667%; }
  .u-7\/9\@md {
    width: 77.77778%; }
  .u-8\/9\@md {
    width: 88.88889%; }
  .u-9\/9\@md {
    width: 100%; }
  /*----------  10 Columnas  ----------*/
  .u-1\/10\@md {
    width: 10%; }
  .u-2\/10\@md {
    width: 20%; }
  .u-3\/10\@md {
    width: 30%; }
  .u-4\/10\@md {
    width: 40%; }
  .u-5\/10\@md {
    width: 50%; }
  .u-6\/10\@md {
    width: 60%; }
  .u-7\/10\@md {
    width: 70%; }
  .u-8\/10\@md {
    width: 80%; }
  .u-9\/10\@md {
    width: 90%; }
  .u-10\/10\@md {
    width: 100%; }
  /*----------  11 Columnas  ----------*/
  .u-1\/11\@md {
    width: 9.09091%; }
  .u-2\/11\@md {
    width: 18.18182%; }
  .u-3\/11\@md {
    width: 27.27273%; }
  .u-4\/11\@md {
    width: 36.36364%; }
  .u-5\/11\@md {
    width: 45.45455%; }
  .u-6\/11\@md {
    width: 54.54545%; }
  .u-7\/11\@md {
    width: 63.63636%; }
  .u-8\/11\@md {
    width: 72.72727%; }
  .u-9\/11\@md {
    width: 81.81818%; }
  .u-10\/11\@md {
    width: 90.90909%; }
  .u-11\/11\@md {
    width: 100%; }
  /*----------  12 Columnas  ----------*/
  .u-1\/12\@md {
    width: 8.33333%; }
  .u-2\/12\@md {
    width: 16.66667%; }
  .u-3\/12\@md {
    width: 25%; }
  .u-4\/12\@md {
    width: 33.33333%; }
  .u-5\/12\@md {
    width: 41.66667%; }
  .u-6\/12\@md {
    width: 50%; }
  .u-7\/12\@md {
    width: 58.33333%; }
  .u-8\/12\@md {
    width: 66.66667%; }
  .u-9\/12\@md {
    width: 75%; }
  .u-10\/12\@md {
    width: 83.33333%; }
  .u-11\/12\@md {
    width: 91.66667%; }
  .u-12\/12\@md {
    width: 100%; } }

/*----------  lg 992px ----------*/
@media screen and (min-width: 992px) {
  /*----------  1 Columnas  ----------*/
  .u-1\/1\@lg {
    width: 100%; }
  /*----------  2 Columnas  ----------*/
  .u-1\/2\@lg {
    width: 50%; }
  .u-2\/2\@lg {
    width: 100%; }
  /*----------  3 Columnas  ----------*/
  .u-1\/3\@lg {
    width: 33.33333%; }
  .u-2\/3\@lg {
    width: 66.66667%; }
  .u-3\/3\@lg {
    width: 100%; }
  /*----------  4 Columnas  ----------*/
  .u-1\/4\@lg {
    width: 25%; }
  .u-2\/4\@lg {
    width: 50%; }
  .u-3\/4\@lg {
    width: 75%; }
  .u-4\/4\@lg {
    width: 100%; }
  /*----------  5 Columnas  ----------*/
  .u-1\/5\@lg {
    width: 20%; }
  .u-2\/5\@lg {
    width: 40%; }
  .u-3\/5\@lg {
    width: 60%; }
  .u-4\/5\@lg {
    width: 80%; }
  .u-5\/5\@lg {
    width: 100%; }
  /*----------  6 Columnas  ----------*/
  .u-1\/6\@lg {
    width: 16.66667%; }
  .u-2\/6\@lg {
    width: 33.33333%; }
  .u-3\/6\@lg {
    width: 50%; }
  .u-4\/6\@lg {
    width: 66.66667%; }
  .u-5\/6\@lg {
    width: 83.33333%; }
  .u-6\/6\@lg {
    width: 100%; }
  /*----------  7 Columnas  ----------*/
  .u-1\/7\@lg {
    width: 14.28571%; }
  .u-2\/7\@lg {
    width: 28.57143%; }
  .u-3\/7\@lg {
    width: 42.85714%; }
  .u-4\/7\@lg {
    width: 57.14286%; }
  .u-5\/7\@lg {
    width: 71.42857%; }
  .u-6\/7\@lg {
    width: 85.71429%; }
  .u-7\/7\@lg {
    width: 100%; }
  /*----------  8 Columnas  ----------*/
  .u-1\/8\@lg {
    width: 12.5%; }
  .u-2\/8\@lg {
    width: 25%; }
  .u-3\/8\@lg {
    width: 37.5%; }
  .u-4\/8\@lg {
    width: 50%; }
  .u-5\/8\@lg {
    width: 62.5%; }
  .u-6\/8\@lg {
    width: 75%; }
  .u-7\/8\@lg {
    width: 87.5%; }
  .u-8\/8\@lg {
    width: 100%; }
  /*----------  9 Columnas  ----------*/
  .u-1\/9\@lg {
    width: 11.11111%; }
  .u-2\/9\@lg {
    width: 22.22222%; }
  .u-3\/9\@lg {
    width: 33.33333%; }
  .u-4\/9\@lg {
    width: 44.44444%; }
  .u-5\/9\@lg {
    width: 55.55556%; }
  .u-6\/9\@lg {
    width: 66.66667%; }
  .u-7\/9\@lg {
    width: 77.77778%; }
  .u-8\/9\@lg {
    width: 88.88889%; }
  .u-9\/9\@lg {
    width: 100%; }
  /*----------  10 Columnas  ----------*/
  .u-1\/10\@lg {
    width: 10%; }
  .u-2\/10\@lg {
    width: 20%; }
  .u-3\/10\@lg {
    width: 30%; }
  .u-4\/10\@lg {
    width: 40%; }
  .u-5\/10\@lg {
    width: 50%; }
  .u-6\/10\@lg {
    width: 60%; }
  .u-7\/10\@lg {
    width: 70%; }
  .u-8\/10\@lg {
    width: 80%; }
  .u-9\/10\@lg {
    width: 90%; }
  .u-10\/10\@lg {
    width: 100%; }
  /*----------  11 Columnas  ----------*/
  .u-1\/11\@lg {
    width: 9.09091%; }
  .u-2\/11\@lg {
    width: 18.18182%; }
  .u-3\/11\@lg {
    width: 27.27273%; }
  .u-4\/11\@lg {
    width: 36.36364%; }
  .u-5\/11\@lg {
    width: 45.45455%; }
  .u-6\/11\@lg {
    width: 54.54545%; }
  .u-7\/11\@lg {
    width: 63.63636%; }
  .u-8\/11\@lg {
    width: 72.72727%; }
  .u-9\/11\@lg {
    width: 81.81818%; }
  .u-10\/11\@lg {
    width: 90.90909%; }
  .u-11\/11\@lg {
    width: 100%; }
  /*----------  12 Columnas  ----------*/
  .u-1\/12\@lg {
    width: 8.33333%; }
  .u-2\/12\@lg {
    width: 16.66667%; }
  .u-3\/12\@lg {
    width: 25%; }
  .u-4\/12\@lg {
    width: 33.33333%; }
  .u-5\/12\@lg {
    width: 41.66667%; }
  .u-6\/12\@lg {
    width: 50%; }
  .u-7\/12\@lg {
    width: 58.33333%; }
  .u-8\/12\@lg {
    width: 66.66667%; }
  .u-9\/12\@lg {
    width: 75%; }
  .u-10\/12\@lg {
    width: 83.33333%; }
  .u-11\/12\@lg {
    width: 91.66667%; }
  .u-12\/12\@lg {
    width: 100%; } }

/*----------  xl 1200px ----------*/
@media screen and (min-width: 1200px) {
  /*----------  1 Columnas  ----------*/
  .u-1\/1\@xl {
    width: 100%; }
  /*----------  2 Columnas  ----------*/
  .u-1\/2\@xl {
    width: 50%; }
  .u-2\/2\@xl {
    width: 100%; }
  /*----------  3 Columnas  ----------*/
  .u-1\/3\@xl {
    width: 33.33333%; }
  .u-2\/3\@xl {
    width: 66.66667%; }
  .u-3\/3\@xl {
    width: 100%; }
  /*----------  4 Columnas  ----------*/
  .u-1\/4\@xl {
    width: 25%; }
  .u-2\/4\@xl {
    width: 50%; }
  .u-3\/4\@xl {
    width: 75%; }
  .u-4\/4\@xl {
    width: 100%; }
  /*----------  5 Columnas  ----------*/
  .u-1\/5\@xl {
    width: 20%; }
  .u-2\/5\@xl {
    width: 40%; }
  .u-3\/5\@xl {
    width: 60%; }
  .u-4\/5\@xl {
    width: 80%; }
  .u-5\/5\@xl {
    width: 100%; }
  /*----------  6 Columnas  ----------*/
  .u-1\/6\@xl {
    width: 16.66667%; }
  .u-2\/6\@xl {
    width: 33.33333%; }
  .u-3\/6\@xl {
    width: 50%; }
  .u-4\/6\@xl {
    width: 66.66667%; }
  .u-5\/6\@xl {
    width: 83.33333%; }
  .u-6\/6\@xl {
    width: 100%; }
  /*----------  7 Columnas  ----------*/
  .u-1\/7\@xl {
    width: 14.28571%; }
  .u-2\/7\@xl {
    width: 28.57143%; }
  .u-3\/7\@xl {
    width: 42.85714%; }
  .u-4\/7\@xl {
    width: 57.14286%; }
  .u-5\/7\@xl {
    width: 71.42857%; }
  .u-6\/7\@xl {
    width: 85.71429%; }
  .u-7\/7\@xl {
    width: 100%; }
  /*----------  8 Columnas  ----------*/
  .u-1\/8\@xl {
    width: 12.5%; }
  .u-2\/8\@xl {
    width: 25%; }
  .u-3\/8\@xl {
    width: 37.5%; }
  .u-4\/8\@xl {
    width: 50%; }
  .u-5\/8\@xl {
    width: 62.5%; }
  .u-6\/8\@xl {
    width: 75%; }
  .u-7\/8\@xl {
    width: 87.5%; }
  .u-8\/8\@xl {
    width: 100%; }
  /*----------  9 Columnas  ----------*/
  .u-1\/9\@xl {
    width: 11.11111%; }
  .u-2\/9\@xl {
    width: 22.22222%; }
  .u-3\/9\@xl {
    width: 33.33333%; }
  .u-4\/9\@xl {
    width: 44.44444%; }
  .u-5\/9\@xl {
    width: 55.55556%; }
  .u-6\/9\@xl {
    width: 66.66667%; }
  .u-7\/9\@xl {
    width: 77.77778%; }
  .u-8\/9\@xl {
    width: 88.88889%; }
  .u-9\/9\@xl {
    width: 100%; }
  /*----------  10 Columnas  ----------*/
  .u-1\/10\@xl {
    width: 10%; }
  .u-2\/10\@xl {
    width: 20%; }
  .u-3\/10\@xl {
    width: 30%; }
  .u-4\/10\@xl {
    width: 40%; }
  .u-5\/10\@xl {
    width: 50%; }
  .u-6\/10\@xl {
    width: 60%; }
  .u-7\/10\@xl {
    width: 70%; }
  .u-8\/10\@xl {
    width: 80%; }
  .u-9\/10\@xl {
    width: 90%; }
  .u-10\/10\@xl {
    width: 100%; }
  /*----------  11 Columnas  ----------*/
  .u-1\/11\@xl {
    width: 9.09091%; }
  .u-2\/11\@xl {
    width: 18.18182%; }
  .u-3\/11\@xl {
    width: 27.27273%; }
  .u-4\/11\@xl {
    width: 36.36364%; }
  .u-5\/11\@xl {
    width: 45.45455%; }
  .u-6\/11\@xl {
    width: 54.54545%; }
  .u-7\/11\@xl {
    width: 63.63636%; }
  .u-8\/11\@xl {
    width: 72.72727%; }
  .u-9\/11\@xl {
    width: 81.81818%; }
  .u-10\/11\@xl {
    width: 90.90909%; }
  .u-11\/11\@xl {
    width: 100%; }
  /*----------  12 Columnas  ----------*/
  .u-1\/12\@xl {
    width: 8.33333%; }
  .u-2\/12\@xl {
    width: 16.66667%; }
  .u-3\/12\@xl {
    width: 25%; }
  .u-4\/12\@xl {
    width: 33.33333%; }
  .u-5\/12\@xl {
    width: 41.66667%; }
  .u-6\/12\@xl {
    width: 50%; }
  .u-7\/12\@xl {
    width: 58.33333%; }
  .u-8\/12\@xl {
    width: 66.66667%; }
  .u-9\/12\@xl {
    width: 75%; }
  .u-10\/12\@xl {
    width: 83.33333%; }
  .u-11\/12\@xl {
    width: 91.66667%; }
  .u-12\/12\@xl {
    width: 100%; } }

/*----------  DEBUG  ----------*/
.debug {
  outline: 1px solid red; }

.debug--green {
  outline: 1px solid green; }

.debug--yellow {
  outline: 1px solid yellow; }

.debug--blue {
  outline: 1px solid yellow; }
